@font-face {
  	font-family: Maison Neue;
  	src: url('./assets/MaisonNeue-Book.ttf'); /* IE9 Compat Modes */
}

@font-face {
  	font-family: Ivy Mode Regular;
  	src: url('./assets/IvyMode-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  	font-family: Ivy Mode Light Italic;
  	src: url('./assets/IvyMode-LightItalic.ttf'); /* IE9 Compat Modes */
}

@font-face {
  	font-family: Eksell Display;
  	src: url('./assets/Eksell-Display-Small.otf'); /* IE9 Compat Modes */
}

$bg-color: #f1e5d5;

* {
	font-family: Maison Neue;
	letter-spacing: 0.5px;
}

html {
	background-color: $bg-color;
}

body {
	width: 100%;
	height: 100vh;
}

h1 {
	font-family: Ivy Mode Regular;
	letter-spacing: 0.3em;
	font-size: 3em;
	margin: 0;
}

h2 {
	font-family: Ivy Mode Light Italic;
	letter-spacing: 0.3em;
	font-style: italic;
	margin: 0;
	font-size: 1.3em;
	font-weight: 100;
	text-transform: uppercase;
}

form {
	margin: 2em 0;
}

select {
	padding: 5px;
}

#root, .App {
	width: 100%;
	height: 100%;
}

.no-scroll {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.App {
	//padding: 3em;
	display: flex;
}

.App-header {
	text-align: left;
	//padding: 1em 0;
	padding: 3em 2em 1em 2em;
	// cursor: pointer;
	overflow-y: scroll;
}

.content-wrapper {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.nav {
	font-size: 12px;
	width: 50px;
	cursor: pointer;
	z-index: 50;
	margin-bottom: 1em;
}

.city-selection-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;

	.city-selection {
		width: 400px;
		text-align: center;
		border: 1px solid black;
		padding: 3em 1em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		h1 {
			font-size: 1.7em;
			margin-bottom: 1em;
		}

		p {
			padding: 1em;
			border: 1px solid black;
			width: 200px;
			margin: 0.5em;
			cursor: pointer;
			transition: 0.3s;
			font-size: 0.9em;
			box-shadow: 3px 3px 0 #000;

			&:hover {
				background: black;
				color: $bg-color;
				box-shadow: 3px 3px 0 #000;
			}
		}
	}
}

.eateries-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 20px;
	padding: 2em;
	box-sizing: border-box;
	justify-content: space-between;
}

.dialog-wrapper {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	background-color: rgba(0,0,0,0.1);
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog {
	width: 500px;
	height: 300px;
	//margin: 10% auto;
	padding: 3em;
	background-color: #f1e5d5;
	border: 1px solid black;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.dialog-content {
		width: 100%;
	}

	h3 {
		font-family: Eksell Display;
		font-weight: 100;
		letter-spacing: 1px;
		font-size: 22px;
		margin-bottom: 0.5em;
		margin-top: 0;
	}

	h4 {
		//font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #333;
		font-size: 12px;
	}

	a {
		color: black;
		text-decoration: none;
	}

	.close {
		position: absolute;
		top: 0.3em;
		right: 1em;
		cursor: pointer;
	}

	.closed {
		color: red;
		text-transform: uppercase;
		font-style: italic;
		margin-top: 0;
		margin-bottom: 0.5em;
	}

	.star-container {
		display: flex;

		p {margin: 3px;}

		.star-wrapper {
			margin-right: 0.3em;
		}

		.star {
			width: 17px;
			margin: 1px;
		}
	}

	.dialog-info {
		display: flex;
		font-size: 14px;
		//margin: 0.7em 0;
		border-bottom: 1px solid black;
		padding: 1em 0; 

		&:nth-of-type(1) {
			border-top: 1px solid black;
		}

		p {margin: 3px 5px;}
		img {width: 20px; height: 20px; margin-right: 5px;}
	}
	
}

.eatery {
	width: 250px;
	margin: 5px;
	box-sizing: border-box;

	.eatery-content {
		padding: 5px 15px;
	}

	h3 {
		font-family: Eksell Display;
		font-weight: 100;
		letter-spacing: 1px;
		font-size: 22px;
		margin: 0.5em 0;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		font-size: 14px;
	}

	.eatery-cuisines {
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #333;
		font-size: 12px;
	}

	.eatery-city {
		margin-bottom: 0;
	}

	.eatery-locations {
		margin-top: 5px;
	}

	.eatery-banner {
		background: black;
		text-align: center;
		padding: 6px 3px 3px 3px;

		p {
			margin: 0;
			color: $bg-color;
		}
	}

	&.best {
		border: 1px double black;
		box-shadow: 2px 2px 0 black;
	}
}

.gm-style-iw .eatery {
	width: 100%;
	max-width: 250px;
	margin: 0;

	h3 {
		font-size:18px;
	}
}

.gm-style .gm-style-iw-c {
	border-radius: 0;
}

.menu-wrapper {
	width: 100%;
	margin: 3em auto 0;
	text-align: left;
	//box-sizing: border-box;
	
	.cuisine-title {
		font-size: 18px;
		padding: 10px;
		margin: 0;
		cursor: pointer;
	}

	form {
		width: 100%;
	}

	label {
		width: 100%;
		// max-width: 200px;
		margin: 2em 0;
		font-size: 0.6em;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
	}

	input[type="reset"], button {
		height: 28px;
		margin-right: 0.5em;
		margin-top: 0em;
		background: #f1e5d5;
		border:1px solid black;
		cursor: pointer;
		color: black;
		transition: 0.5s linear;

		&:hover {
			border: 1px solid black;
			background: black;
			color: white;
		}
	}

	// label:nth-of-type(1) {
	// 	margin-left: 0;
	// }

	select {
		width: 100%;
		margin-top: 0.2em;
		border: 1px solid black;
		background: $bg-color;
	}

	input[type="text"] {
		width: 100%;
		margin-top: 0.2em;
		border: 1px solid black;
		background: $bg-color;
		padding:6px;
	}
}

.multiselect-wrapper {
	width: 100%;
	//height: 25px;
	background: $bg-color;
	border: 1px solid black;
	font-size: 13.3333px;
	text-transform: none;
	letter-spacing: 0;
	margin-top: 0.2em;
	position: relative;
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		right: 6px;
		top: 8px;
		width: 5px;
		height: 5px;
		border-right: 2px solid black;
		border-bottom: 2px solid black;
		transform: rotate(45deg);
	}

	.multiselect {
		width: 90%;
		//height: 12px;
		position: relative;
		padding: 6px;
		box-sizing: border-box;

	}

	.multiselect-options {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		background: $bg-color;
		border: 1px solid black;
		max-height: 300px;
		overflow: scroll;
		padding: 0.5em 0;
		//top: 0;
		left: -1px;
		z-index: 45;

		label {
			width: 100%;
			display: flex;
			align-items: center;
			font-size: 12px;
			text-transform: none;
			letter-spacing: 0;
			margin: 5px 10px;
			cursor: pointer;
			height: 15px;
		}

		p {
			margin: 0;
			line-height: 14px;
			margin: 5px 3px 3px 3px;
		}

		.custom-checkbox {
			background: $bg-color;
			border: 1px solid black;
			width: 12px;
			height: 12px;
			margin: 3px;

			&.checked {
				background: black;
			}
		}
	}

	.remove-all {
		position: absolute;
		top: 7px;
		right: 20px;
		cursor: pointer;
	}
}

.map-container {
	width:100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-wrapper {
	width: 150px;
	height: 7px;
	border: 1px solid black;
	position: relative;

	.loading {
		background-color: black;
		height: 7px;
		animation: slide 2s infinite;
		width: 150px;
		transform-origin: left center;
	}
}

.input-form {
	position: relative;
	max-width: 600px;
	margin: 30px auto;
	border: 1px solid black;
	padding: 20px;
	max-height: 2000px;
	transition: .4s ease;

	&.minimized {
		max-height: 20px;
		overflow: hidden;
	}

	.minimize-icon {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		font-size: 24px;
	}

	.input-section {
		margin: 15px 0;

		&.title {
			// display: flex;
			align-items: center;

			input[type="text"] {
				height: 20px;
				width: 100%;
				flex-shrink: 2;
				box-sizing: border-box;
			}
		}
	}

	.input-options {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	label {
		//display: inline-block;
		// height: 22px;
		width: 50%;
		font-size: 12px;
	}

	input[type="checkbox"] {
		background: $bg-color;
		border: 1px solid black;
	}

	input[type="text"] {
		background: $bg-color;
		border-bottom: 1px solid black;
		border-top: none;
		border-left: none;
		border-right: none;
		padding: 5px;
		box-sizing: border-box;
		width: 100%;
	}

	input[type="submit"], input[type="reset"] {
		padding: 5px 10px;
		margin: 0 3px;
		border: 1px solid black;
		background: $bg-color;
		transition: 0.3s linear;
		cursor: pointer;

		&:hover {
			background: black;
			color: $bg-color;
		}
	}
}


.success-button {
	background-color: green;
}

.status-bar {
	width: 100%;
	border: 1px solid $bg-color;
	margin: 15px 0;
	padding: 15px;
	font-size: 12px;

	p {margin: 0;}

	&.warning {
		border-color: yellow;
		background: #fff3cd;
		color: black;
	}

	&.error {
		border-color: red;
		background: #f8d7db;
		color: red;
	}

	&.success {
		border-color: green;
		background: #d1e7dd;
		color: green;
	}
}

.dialog.input {
	display: block;
	height: auto;
	max-height: 800px;
	overflow-y: scroll;
}

.csv-text {
	margin-bottom: 50px;

	textarea {
		width: 100%;
		height: 100px;
	}
}

.gm-style-iw-chr {
	position: absolute;
	right: 0px;
}

.gm-style .gm-style-iw-d {
	padding-top: 15px;
}

@keyframes slide {
	0% {transform: scaleX(0)}
	100% {transform: scaleX(1)}
}

@media only screen and (max-width: 1010px) {
	.eatery { 
		width: 33%;
	}
	.cuisines {
  		width: 90%;

  		form {
  			label {
  				width: 47%;
  				max-width: 400px;
  				margin: 1em 0.5em;
  			}

  			input[type="reset"], button {
  				width: 96%;
  				margin: 1em 0 0;
  			}
  		}
  	}
}

@media only screen and (max-width: 800px) {
	body {
		height: auto;
	}

	.App {
		flex-direction: column;
	}

	.content-wrapper {
		height: auto;
		overflow: hidden;
	}

	.map-container {
		height: 700px;
	}

	.nav {
		position: fixed;
		top: 2em;
		right: 2em;
	}

  	.eatery {
  		width: 200px;
  		//margin: 0 auto;
  	}	
}

@media only screen and (max-width: 600px) {
	.eateries-wrapper {
		padding: 20px;
	}

  	.eatery {
  		width: 70%;
  		margin: 0 auto;
  	}

  	.nav {
  		width: 40px;
  	}

  	.cuisines {
  		form {
  			label {
  				width: 100%;
  				max-width: 400px;
  				margin: 1em 0;
  			}

  			input[type="reset"], button {
  				width: 100%;
  				margin: 1em 0 0;
  			}
  		}
  	}

  	.dialog {
  		width: 70%;
  	}
}