@font-face {
  	font-family: Maison Neue;
  	src: url('MaisonNeue-Book.ttf'); /* IE9 Compat Modes */
}

@font-face {
  	font-family: Ivy Mode Regular;
  	src: url('IvyMode-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  	font-family: Ivy Mode Light Italic;
  	src: url('IvyMode-LightItalic.ttf'); /* IE9 Compat Modes */
}

@font-face {
  	font-family: Eksell Display;
  	src: url('Eksell-Display-Small.otf'); /* IE9 Compat Modes */
}

* {
	font-family: Maison Neue;
	letter-spacing: 0.5px;
}

html {
	background-color: #f1e5d5;
}

h1 {
	font-family: Ivy Mode Regular;
	letter-spacing: 0.3em;
	font-size: 3em;
	margin: 0;
}

h2 {
	font-family: Ivy Mode Light Italic;
	letter-spacing: 0.3em;
	font-style: italic;
	margin: 0;
	font-size: 1.3em;
	font-weight: 100;
	text-transform: uppercase;
}

form {
	margin: 2em 0;
}

select {
	padding: 5px;
}

.no-scroll {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.App {
	//padding: 3em;
}

.App-header {
	text-align: center;
	//padding: 1em 0;
	padding: 4em 3em 1em 3em;
}

.nav {
	position: fixed;
	right: 3em;
	top:3em;
	font-size: 12px;
	width: 50px;
	cursor: pointer;
	z-index: 50;
}

.eateries-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 20px;
	padding: 0 2em;
	box-sizing: border-box;
}

.dialog-wrapper {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	background-color: rgba(0,0,0,0.1);
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog {
	width: 500px;
	height: 300px;
	//margin: 10% auto;
	padding: 3em;
	background-color: #f1e5d5;
	border: 1px solid black;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.dialog-content {
		width: 100%;
	}

	h3 {
		font-family: Eksell Display;
		font-weight: 100;
		letter-spacing: 1px;
		font-size: 22px;
		margin-bottom: 0.5em;
		margin-top: 0;
	}

	h4 {
		//font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #333;
		font-size: 12px;
	}

	a {
		color: black;
		text-decoration: none;
	}

	.close {
		position: absolute;
		top: 0.5em;
		right: 1em;
		cursor: pointer;
	}

	.closed {
		color: red;
		text-transform: uppercase;
		font-style: italic;
	}

	.star-container {
		display: flex;

		p {margin: 3px;}

		.star-wrapper {
			margin-right: 0.3em;
		}

		.star {
			width: 17px;
			margin: 1px;
		}
	}

	.dialog-info {
		display: flex;
		font-size: 14px;
		//margin: 0.7em 0;
		border-bottom: 1px solid black;
		padding: 1em 0; 

		&:nth-of-type(1) {
			border-top: 1px solid black;
		}

		p {margin: 3px 5px;}
		img {width: 20px; height: 20px; margin-right: 5px;}
	}
	
}

.eatery {
	width: 25%;

	h3 {
		font-family: Eksell Display;
		font-weight: 100;
		letter-spacing: 1px;
		font-size: 22px;
		margin-bottom: 0.5em;
		cursor: pointer;
	}

	p {
		font-size: 14px;
	}

	.eatery-cuisines {
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #333;
		font-size: 12px;
	}
}

.gm-style-iw .eatery {
	width: 100%;
	max-width: 250px;

	h3 {
		font-size:18px;
	}
}

.gm-style .gm-style-iw-c {
	border-radius: 0;
}

.cuisines {
	width: 100%;
	max-width: 1200px;
	margin: 3em auto 0;
	text-align: left;
	//box-sizing: border-box;
	
	.cuisine-title {
		font-size: 18px;
		padding: 10px;
		margin: 0;
		cursor: pointer;
	}

	form {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
	}

	label {
		width: 30%;
		max-width: 200px;
		margin: 0 1em;
		font-size: 0.6em;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	input[type="reset"] {
		height: 28px;
		margin-left: 0.5em;
		background: #f1e5d5;
		border:1px solid black;
		cursor: pointer;
		color: black;
		transition: 0.5s linear;

		&:hover {
			border: 1px solid black;
			background: black;
			color: white;
		}
	}

	// label:nth-of-type(1) {
	// 	margin-left: 0;
	// }

	select {
		width: 100%;
		margin-top: 0.2em;
		border: 1px solid black;
		background: #f1e5d5;
	}
}

.map-container {
	width:100%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-wrapper {
	width: 150px;
	height: 7px;
	border: 1px solid black;
	position: relative;

	.loading {
		background-color: black;
		height: 7px;
		animation: slide 2s infinite;
		width: 150px;
		transform-origin: left center;
	}
}

@keyframes slide {
	0% {transform: scaleX(0)}
	100% {transform: scaleX(1)}
}

@media only screen and (max-width: 1010px) {
	.eatery { 
		width: 33%;
	}
	.cuisines {
  		width: 90%;

  		form {
  			label {
  				width: 47%;
  				max-width: 400px;
  				margin: 1em 0.5em;
  			}

  			input[type="reset"] {
  				width: 96%;
  				margin: 1em 0;
  			}
  		}
  	}
}

@media only screen and (max-width: 800px) {
  	.eatery {
  		width: 50%;
  		//margin: 0 auto;
  	}	
}

@media only screen and (max-width: 600px) {
  	.eatery {
  		width: 70%;
  		margin: 0 auto;
  	}

  	.nav {
  		width: 40px;
  	}

  	.cuisines {
  		form {
  			label {
  				width: 100%;
  				max-width: 400px;
  				margin: 1em 0;
  			}

  			input[type="reset"] {
  				width: 100%;
  				margin: 1em 0;
  			}
  		}
  	}

  	.dialog {
  		width: 70%;
  	}
}